# Assignment

## Q1. What are the characteristics of the tuples? Is tuple immutable?
## Answer:

### Characteristics Of The Tuples:
1. Tuples are immutable.
2. Tuples are enclosed within parenthesis and not within square braces.
3. Tuples are ordered, indexed collections of data. Similar to string indices, the first value in the tuple will have the index [0], the second value [1], and so on.
4. Negative indices are counted from the end of the tuple, just like lists.
5. Tuples can store duplicate values.
6. Once data is assigned to a tuple, the values cannot be changed.
7. Tuples allow you to store several data items in one variable. You can choose to store only one kind of data in a tuple or mix it up as needed.
## Tuple is immutable sequence. We can't add or delete its elements.

.......................................................................................................................

## Q2. What are the two tuple methods in python? Give an example of each method. Give a reason why tuples have only two in-built methods as compared to Lists.
## Answer:

### Tuple Methods in Python
1. count().  Return the number of times a specified value occurs in tuple.
2. index().  Searches the tuple for a specified value and returns the position where it was found.

In [71]:
# type() 
t=(1,2,3,2,3,4,3,3,4,4,3)
type(t)

tuple

In [72]:
# values in tuple
t

(1, 2, 3, 2, 3, 4, 3, 3, 4, 4, 3)

In [73]:
# count() method
t.count(4)

3

In [74]:
# index() method
t.index(3)

2

### A tuple have only two built-in methods as compared to List.This is mainly because a tuple is immutable. So, operations such as insertion, deletion, or update would be meaningless.

........................................................................................................

## Q3. Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove duplicates from the given list.
### List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]
## Answer:

* Set is a collection which is unordered, unchangeable, and unindexed. 
* Set do not allow duplicate items.

In [75]:
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]
s1=set(List)
s1

{1, 2, 3, 4}

..............................................................................................

## Q4. Explain the difference between the union() and update() methods for a set. Give an example of each method.
## Answer:

### Difference between the union() and update() methods for a set.
1. union()  Return a set containing the union of sets.
  * union() method that returns a new set containing all items from both sets.
2. update() Update the set with tje union of this set and others.
  * update() method that inserts all the items from one set into another.

In [76]:
# type()
set1={1,2,3,4}
set2={'a','b','c','d'}
print(type(set1))
print(type(set2))

<class 'set'>
<class 'set'>

In [77]:
# values in sets
print(set1)
print(set2)

{1, 2, 3, 4}
{'c', 'b', 'a', 'd'}

In [78]:
# union() method
set3=set1.union(set2)
set3

{1, 2, 3, 4, 'a', 'b', 'c', 'd'}

In [79]:
# update() method
lst=['N','i']
set3.update(lst)
set3

{1, 2, 3, 4, 'N', 'a', 'b', 'c', 'd', 'i'}

................................................................................................

## Q5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.
## Answer:

###  DICTIONARY 
* Dictionaries are used to store data values in key:value pairs.
* Dictionaries are written with curly brackets.
* Dictionary items are ordered, changeable, and does not allow duplicates.
* Dictionary items are presented in key:value pairs, and can be referred to by using the key name.
* Dictionaries are changeable, meaning that we can change, add or remove items after the dictionary has been created.
* Dictionaries cannot have two items with the same key.

In [80]:
# type ()
d={'Name':'Nidhi','Course':'BCA'}
type(d)

dict

In [81]:
# Values in Dictionary
d

{'Name': 'Nidhi', 'Course': 'BCA'}

In [82]:
# Add a new key in dictionary
d['Age']=19

In [83]:
# Updated Dictionary
d

{'Name': 'Nidhi', 'Course': 'BCA', 'Age': 19}

* As of Python version 3.7, dictionaries are ordered. 
    * When we say that dictionaries are ordered, it means that the items have a defined order, and that order will not change.
* In Python 3.6 and earlier, dictionaries are unordered.
    * Unordered means that the items does not have a defined order, we cannot refer to an item by using an index.

....................................................................................................

## Q6. Can we create a nested dictionary? If so, please give an example by creating a simple one-level nested dictionary.
## Answer:

* Yes, We can create a nested dictionary.

In [84]:
# Nested Dictionary
d1={'Intro':{'Name':{'First': 'Nivi','Last':'Parihar'},'DOB':{'Year': 2003 ,'Month' : 'January' ,'Date' : 21}}}

In [85]:
# Values in Dictionary 
d1

{'Intro': {'Name': {'First': 'Nivi', 'Last': 'Parihar'},
  'DOB': {'Year': 2003, 'Month': 'January', 'Date': 21}}}

In [86]:
# Values in Key
d1['Intro']

{'Name': {'First': 'Nivi', 'Last': 'Parihar'},
 'DOB': {'Year': 2003, 'Month': 'January', 'Date': 21}}

In [87]:
# Nested key value 
d1['Intro']['Name']

{'First': 'Nivi', 'Last': 'Parihar'}

In [88]:
# Nested Key Value
d1['Intro']['Name']['Last']

'Parihar'

....................................................................................................

## Q7. Using setdefault() method, create key named topics in the given dictionary and also add the value of the key as this list ['Python', 'Machine Learning’, 'Deep Learning']
### dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}
## Answer:

In [89]:
# type()
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}
type(dict1)

dict

In [90]:
# Value of dictionary
dict1

{'language': 'Python', 'course': 'Data Science Masters'}

In [91]:
List = ['Python', 'Machine Learning' , 'Deep Learning']

In [92]:
# setdefault() method
x = dict1.setdefault('Topic',List)
x

['Python', 'Machine Learning', 'Deep Learning']

In [93]:
# Updated Dictionary
dict1

{'language': 'Python',
 'course': 'Data Science Masters',
 'Topic': ['Python', 'Machine Learning', 'Deep Learning']}

....................................................................................................

## Q8. What are the three view objects in dictionaries? Use the three in-built methods in python to display these three view objects for the given dictionary.
### dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}
## Answer:

* The main three view objects of dictionary are 
    * keys, 
    * values and 
    * items. 
* They provide a non-constant view of the dictionary’s entries. 
* Keys holds all the keys of the dictionary.
* The values objects holds all the values.
* The items holds the key-value pairs.
* The three in-built methods in python to display three view objects for the dictionary
    * keys()
    * values()
    * items()

In [55]:
# type()
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}
type(dict1)

dict

In [53]:
# Values of dictionary 
dict1

{'Sport': 'Cricket',
 'Teams': ['India',
  'Australia',
  'England',
  'South Africa',
  'Sri Lanka',
  'New Zealand']}

In [54]:
# Keys View object of Dictionary
dict1.keys()

dict_keys(['Sport', 'Teams'])

In [45]:
# List of Keys of Dictionary
list(dict1.keys())

['Sport', 'Teams']

In [46]:
# Values View object of Dictionary
dict1.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [47]:
# List of Values of Dictionary
list(dict1.values())

['Cricket',
 ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']]

In [49]:
# Items View object of Dictionary
dict1.items()

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])

In [58]:
# List of Items of Dictionary
list(dict1.items())

[('Sport', 'Cricket'),
 ('Teams',
  ['India',
   'Australia',
   'England',
   'South Africa',
   'Sri Lanka',
   'New Zealand'])]

.....................................................................................................